<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <%= link_to "SimpleComment", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Articles", root_path %></li>
      <li><%= link_to "New article", new_article_path %></li>
    </ul>
  </div>
</nav>